USE [AdventureWorksLT2012]
GO
/****** Object:  UserDefinedDataType [dbo].[AccountNumber]    Script Date: 1/28/2025 1:08:42 PM ******/
CREATE TYPE [dbo].[AccountNumber] FROM [nvarchar](15) NULL
GO
